.body {
  margin: 0;
  overflow: hidden;
  img {
    width: 100vw;
    object-fit: cover;
  }
  .index_recipeTitle {
    text-align: center;
    margin: 1em 0 1em;
  }
}

.index-recipe {
  padding: 0 0 0.5em 0;
  margin: 0 0 3.5em;
  background-color: $white;
}

.recipe-btn {
  position: relative;
  display: block;
  margin: 2em auto;
  padding: 1em 2.3em;
  cursor: pointer;
  color: $white;
  background-color: $black;
  border: none;
  font-weight: 600;
  &::after {
    content: "";
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1px solid $black;
    top: 0.5em;
    left: 0.5em;
  }
}

@media (min-width: 750px) {
  .index-recipe {
    //height: 50vh;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    img {
      width: 65vw;
      height: 60vh;
      object-fit: cover;
    }
    .index_recipeTitle {
      margin: auto;
      font-weight: 900;
      font-size: 1.2em;
      font-family: $josefin;
    }
    .recipe-btn {
      margin: auto;
    }
  }
  .index-recipe:nth-child(odd) {
    img {
      grid-column: 1/3;
      grid-row: 1/5;
    }
    .index_recipeTitle {
      grid-column: 3/4;
      grid-row: 1/3;
    }
    .recipe-btn {
      grid-column: 3/4;
      grid-row: 4/5;
    }
  }
  .index-recipe:nth-child(even) {
    img {
      grid-column: 2/4;
      grid-row: 1/5;
    }
    .index_recipeTitle {
      grid-column: 1/2;
      grid-row: 1/3;
    }
    .recipe-btn {
      grid-column: 1/2;
      grid-row: 4/5;
    }
  }
}
