.upper-head,
.upper-head-recipe {
  height: 4em;
  margin: 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  .hamburger {
    border: none;
    position: absolute;
    color: $white;
    background-color: $black;
    left: 2em;
    .fa-bars {
      height: 20px;
      width: 20px;
    }
  }
}
.upper-head {
  background-color: $black;
}
.upper-head-recipe {
  background-color: $white;
  h1 {
    color: $black;
  }
  background-color: $white;
  .openSearch-btn {
    color: $black;
  }
  .hamburger {
    color: $black;
    background-color: $white;
  }
}
.openSearch-btn {
  position: absolute;
  display: inline-block;
  outline: none;
  cursor: pointer;
  border: none;
  right: 2em;
  color: $white;
  background-color: $black;
}
.fa-search {
  height: 26px;
  width: 26px;
}

.lower-head {
  position: relative;
  height: 4em;
  background-color: $yellow;
}

.lower-head {
  display: grid;
}
.lower-title {
  margin: auto 0.5em;
}
@media (min-width: 750px) {
  .lower-head {
    height: 10.5em;
  }
  .lower-title {
    font-size: 3.5em;
    font-family: $roboto;
    text-align: center;
    padding-bottom: 1em;
  }
}
