@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto&family=Varela+Round&display=swap&family=Josefin+Sans:wght@350&display=swap");
$roboto: "Roboto", "sans-serif";
$playfair: "Playfair Display", "sans-serif";
$vaerla: "Varela Round", "sans-serif";
$josefin: "Josefin Sans", "sans-serif";
